.filtrar {
    width: auto;
    height: 2rem;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
}

.filter_text {
    width: auto;
    height: 100%-2.8px;
    display: flex;
    flex-direction: row;
    border-radius: 15px 0 0 15px;
    border: 1.2px solid rgb(0, 0, 0);
    background-color: white;
    align-items: center;
}

.filter_text input {
    text-align: center;
    font-size: 18px;
}

.barra {
    width: 16rem;
    height: 100%-2.8px;
    border: none;
    padding: 0 0 0 5px;
    outline: none;
    border-radius: 15px 0 0 15px;
}

.off {
    display: none;
}

.on {
    display: flex;
    text-decoration: none;
    color: black;
}

.on:active {
    color: none;
}

.bx.bx-x {
    padding-right: 5px;
    font-size: 20px;
}

.bx-search {
    font-size: 20px;

}

.submit {
    width: 1.8rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #815B5B;
    color: white;
    border-radius: 0 100% 100% 0;
}

.submit:active {
    color: none;
}

@media (650px>=width) {
    .filtrar {
        transform: scale(0.9);
    }
}